.film {
   position: relative;
   overflow: hidden;
   border-radius: var(--sm-borderR);

   img {
      width: 100%;
      height: 100%;
      object-position: center;
      transition: var(--def-tr);
   }

   .filmInfo {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      opacity: 0;
      inset: 0;
      position: absolute;
      z-index: 1;
      padding: 10px;
      background-color: var(--filmCard-background);
      transition: var(--def-tr);

      .title {
         text-align: center;
         display: flex;
         justify-content: center;
         align-items: center;
         flex: 1;
         font-size: var(--filmCardTitle);
         word-break: keep-all;
      }
   }

   &:hover {
      cursor: pointer;
      img {
         filter: blur(1px);
         transform: scale(1.1);
      }
      .filmInfo {
         opacity: 1;
      }
   }
}
