.container {
   padding-inline: 20px;
   max-width: var(--container-maxW);
   margin: 50px auto;

   display: grid;
   gap: var(--m-gap);
   grid-template-columns: min-content auto;
   grid-template:
      "poster info "
      "rating info "
      "seasons info "
      ". info" auto / minmax(280px, 400px) auto;
}
.imgWrapper {
   grid-area: poster;
   perspective: 1000px;
   perspective-origin: center;
   text-align: center;

   img {
      border-radius: var(--m-borderR);
      width: 100%;
      min-width: 280px;
      object-position: center;
      margin-bottom: 30px;
      box-shadow: var(--poster-boxShadow);
   }

   .kinopoiskLink {
      .button {
         background-color: var(--kinopoisk-clr1);
         color: var(--kinopoisk-clr2);
         border: var(--kinopoisk-border);
         transition: var(--def-tr);
      }

      &:hover {
         .button {
            color: var(--kinopoisk-clr1);
            background-color: var(--kinopoisk-clr2);
         }
      }
   }
}

.scrollTopButton {
   position: fixed;
   top: 138px;
   right: 50px;
   box-shadow: 0 0 10px 2px white;
}

@media (max-width: 800px) {
   .container {
      grid-template:
         "poster rating"
         "seasons seasons"
         "info info" auto/minmax(280px, 400px) auto;
      padding-inline: 5px;
   }
}

@media (max-width: 543px) {
   .container {
      justify-content: center;
      grid-template:
         "poster"
         "rating"
         "seasons"
         "info" auto/1fr;

      .imgWrapper {
         max-width: 300px;
         justify-self: center;
      }
   }
}
